# transformers
# bitsandbytes
# accelerate
pillow
python-dotenv
gradio
# --index-url https://download.pytorch.org/whl/cu118
# torch==2.1.0 
# --index-url https://download.pytorch.org/whl/cu118
# torchvision==0.16.0
# --index-url https://download.pytorch.org/whl/cu118
# torchaudio==2.1.0

langchain
openai
chromadb
langchain-experimental
langchain_core
langchain_community
# langchain-huggingface
# transformers
# unstructured[all-docs]==0.10.19
pydantic 
# open_clip_torch 
tiktoken 


pytesseract
pdf2image
poppler-utils
# tesseract-ocr
python-dateutil
unstructured[all-docs] 
lxml